<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="public/stylesheets/app.css" type="text/css" />
    <meta charset="utf-8" />

  </head>

  <body>

    <div id="new-task-input-box" class="rowfluid">
      <div class="container">
        <div class="col col-md-2 main-logo">
          <span>Eisenhower</span>
        </div>
        <div class="col col-md-4 col-md-offset-2">
          <input type="text" id="new-task-input" class="form-control" value="" placeholder="Add a new task"/>
        </div>
        <div class="top-bar-buttons pull-right">
          <button type="button" class="btn btn-link btn-xs remove-selected-button" title="Remove all selected tasks">&times; Remove selected</button>
          <button type="button" class="btn btn-link btn-xs remove-current-project-button">&times; Remove current project</button>
          <button type="button" class="btn btn-link btn-xs options-button">Options</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col col-md-12" id="main-content">

	  <div class="row data-import-panel collapse">
	    <div class="panel panel-default panel-body col col-md-12">
	      <button type="button" class="btn btn-link pull-right close-button data-import-panel-close-button">&times;</button>
	      <h2>Import Data <small>- All Projects and Tasks</small></h2>
	      <textarea class="form-control data-import-textarea" rows="5" cols="80"></textarea>
	      <div class="text-center">
		<hr class="invisible"/>
		<button type="button" class="btn btn-primary button-primary data-import-button">Import</button>
	      </div>
	    </div>
	  </div>

	  <div class="row data-export-panel collapse">
	    <div class="panel panel-default panel-body col col-md-12">
	      <button type="button" class="btn btn-link pull-right close-button data-export-panel-close-button">&times;</button>
	      <h2>Export Data <small>- All Projects and Tasks</small></h2>
	      <textarea class="form-control data-export-textarea textarea-readonly" rows="5" cols="80" readonly></textarea>
	    </div>
	  </div>

          <div class="row">
            <ul class="col col-md-3">
              <input type="" id="add-project-input" value="" placeholder="Add a new project" />
              <div id="projects-list-anchor" class="project-list-view">

              </div>
            </ul>

            <div class="task-box-area col col-md-9">
              <div class="task-box-row row card-box">
                <div class="col col-md-6">
                  <span class="task-box-title">Urgent + important</span>
                  <div class="task-box">
                    <div class="task-list" id="urgent-important-list">

                    </div>
                  </div>
                  <span class="task-box-title">Urgent + not important</span>
                  <div class="task-box">
                    <div class="task-list" id="urgent-not-important-list">

                    </div>
                  </div>
                </div>
                <div class="col col-md-6">
                  <span class="task-box-title">Not urgent + important</span>
                  <div class="task-box">
                    <div class="task-list" id="not-urgent-important-list">

                    </div>
                  </div>
                  <span class="task-box-title">Not urgent + not important</span>
                  <div class="task-box">
                    <div class="task-list" id="not-urgent-not-important-list">

                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="public/javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="public/javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="public/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="public/javascripts/backbone-min.js"></script>
    <script type="text/javascript" src="public/javascripts/backbone.localStorage-min.js"></script>
    <script type="text/javascript" src="public/javascripts/app.js"></script>

    <script type="text/template" id="task-view-template">
      <div class="pull-left task-selection-toggle"><input type="checkbox" <% if(selected) { %><%- 'checked=""' %><% } %>/></div>
      <div class="task-name" title="<%- name %>"><%- name %></div>
      <button type="button" class="pull-right remove-task-button">&times;</button>
    </script>

    <script type="text/template" id="task-list-view-template">

    </script>

    <script type="text/template" id="project-list-item-template">
      <a href="#" class="btn project-list-item" title="<%- project.name %>" data-project-id="<%- project.cid %>"><%- project.name %></a>
    </script>


  </body>
</html>
