body {
  background-color: #E1E1E1;
}

hr .invisible {
  visibility: hidden;
}

#main-content {
  background-color: #E1E1E1;
}

.editable-field {
  cursor: text;
}

.input-form-element {
  border: none;
  /* border-bottom: 2px solid #B8B8C9; */
  padding: 4px;
  border-radius: 3px;
  min-width: 280px;
  transition: all 120ms ease-out;
}

.task-box-area {
  height: 100%;
}

.task-box-row {
}

.task-box {
  background-color: #F8F8F9;
  padding: 15px;
  margin-bottom: 35px;
  font-size: 1.5em;
  height: 280px;
  overflow: hidden;
}

.task-box:hover {
  overflow: auto;
}

.task-box-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #CFCFBF;
  background-color: #F8F8F9;
  display: block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

#new-task-input-box {
  background-color: #FFFFFF;
  padding: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.3);
}

#new-task-input-box input {
  text-align: center;
  border: 2px solid #DEDEDE;
  color: #57534A;
  font-weight: bold;
}

#new-task-input-box input:focus {
  box-shadow: none;
  border-color: #BFBFAF;
  transition: all 120ms ease-out;
}

.task-view {
  color: #57534A;
  background-color: #FEFEFD;
  height: 40px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #DEDEDE;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.3);
  cursor: move;
}

.task-view .task-name {
  padding-left: 10px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.task-list {
  min-height: 80%;
}

.currently-dragged-element {
  box-shadow: 0 15px 15px rgba(0, 0, 60, 0.3);
  transition: box-shadow 120ms ease-out;
}

.remove-task-button {
  background: none;
  color: #CDCDCD;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: -45px;
  margin-right: -5px;
}

.remove-task-button:hover {
  color: #AF1212;
}

.project-list-item a {
  color: #919191;
  font-size: 1.1em;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 50px;
  text-shadow: 1px 1px 0 #F1F1FE;
  border-radius: 0;
  width: 100%;
  text-align: left;
  transition: all 60ms ease-out;
  border: none;
}

.project-list-item a:hover {
  color: #57534A;
  font-weight: bold;
  border-left: 5px solid #57534A;
  padding-left: 30px;
  transition: all 120ms ease-out;
}

#add-project-input {
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  color: #919191;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.0);
  border-bottom: 3px solid #CDCDCD;
  transition: all 260ms ease-out;
  padding: 5px;
}

#add-project-input:hover {
  color: #57534A;
  transition: all 260ms ease-out;
}

#add-project-input:focus {
  border-color: #BFBFAF;
  opacity: 1.0;
  border-radius: 6px;
  background-color: #F1F1FE;
  cursor: text;
  opacity: 1.0;
  border-color: #BFBFAF;
  color: #57534A;
  transition: all 260ms ease-out;
}

#project-list-view {
  max-height: 400px;
  overflow: hidden;
}

#project-list-view:hover {
  overflow-y: auto;
}
